body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.tab {
  padding: 30px 15%;
}

/*                      Header                    */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  color: white;
  flex: 1 1 auto;
  position: sticky;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.lista {
  display: flex;
  gap: 10px;
}

/*                            Footer                          */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  flex: 1 1 auto;
}

/*                        Hero Content                           */

.hero {
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  gap: 15px;
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 25px;
  flex-basis: 500px;
}

.texto .titulo {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.texto .subtexto,
a {
  font-size: 18px;
  color: #e5e7eb;
}

.texto button {
  margin-top: 10px;
}

.button {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 6px;
  border: 0;
  width: 100px;
  height: 30px;
}

.button:active {
  background-color: #1e4a88;
}

.placeholder {
  max-width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  background-color: gray;
  flex: 1;
  margin-bottom: 50px;
}

/*                        Info tab                      */

.info {
  text-align: center;
}

.info .titulo {
  margin: 30px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
}

.item {
  max-width: 150px;
}

.item .cuadro {
  width: 150px;
  height: 150px;
  border: blue;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}

.item .subtexto {
  text-align: center;
  font-size: 18px;
  color: #1f2937;
  margin: 10px;
  margin-bottom: 30px;
}

/*                   quote section                 */

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 36px;
}

.frase {
  font-style: italic;
  margin: 25px;
  width: 800px;
}

.autor {
  text-align: end;
  margin-right: 25px;
  width: 800px;
  margin-bottom: 30px;
}

/*                 call to action section                */

.call {
  display: flex;
  padding: 32px 20%;
  justify-content: center;
  align-items: center;
}

.recuadro {
  flex: 1;
  height: 150px;
  background-color: #3882f6;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
}

.recuadro .calltxt {
  font-weight: bolder;
  color: #f9faf8;
  text-align: start;
}

.recuadro .subtexto {
  font-weight: normal;
}

.signup {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  border-radius: 6px;
  border-color: #f9faf8;
  width: 120px;
  height: 40px;
  font-weight: bolder;
  box-shadow: none;
}
